header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
nav ul li a {
    padding: .5rem $gutter;
    font-size: .9rem;
}

div div {
    margin: 10px 2%;
    flex-basis: 18%;
}

header {
    img {
    width: 60px;
    padding: .5rem $gutter;
}
}